In [1]:
import numpy as np
import pandas as pd
import pickle
import json

In [2]:
with open("linear_reg.pkl",'rb') as f:
    model = pickle.load(f)

In [3]:
array = np.zeros((1,model.n_features_in_))
array

array([[0., 0., 0., 0., 0., 0., 0.]])

In [4]:
with open('artifacts/project_data.json') as f:
    project_data = json.load(f)
# project_data

In [5]:
No=121
X1_transaction_date=23
X2_house_age=23.22
X3_distance_to_the_nearest_MRT_station=23.45
X4_number_of_convenience_stores=12.23
X5_latitude=12.3
X6_longitude=15.6
Y_house_price_of_unit_area=123.1

In [6]:
model.feature_names_in_

array(['No', 'X1_transaction_date', 'X2_house_age',
       'X3_distance_to_the_nearest_MRT_station',
       'X4_number_of_convenience_stores', 'X5_latitude', 'X6_longitude'],
      dtype=object)

In [7]:
array[0][0]=No
array[0][1]=X1_transaction_date
array[0][2]=X2_house_age
array[0][3]=X3_distance_to_the_nearest_MRT_station
array[0][4]=X4_number_of_convenience_stores
array[0][5]=X5_latitude
array[0][6]=X6_longitude
print(Y_house_price_of_unit_area)

123.1

In [8]:
test_df = pd.DataFrame(array,columns=model.feature_names_in_)

In [9]:
test_df

,No,X1_transaction_date,X2_house_age,X3_distance_to_the_nearest_MRT_station,X4_number_of_convenience_stores,X5_latitude,X6_longitude
0,121.0,23.0,23.22,23.45,12.23,12.3,15.6

In [10]:
array

array([[121.  ,  23.  ,  23.22,  23.45,  12.23,  12.3 ,  15.6 ]])